@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0b1020;
  color: white;
}

* {
  box-sizing: border-box;
}

::selection {
  background: rgba(255, 255, 255, 0.18);
}

@media print {
  body {
    background: #fff !important;
    color: #000 !important;
  }

  .no-print {
    display: none !important;
  }

  .print-area {
    box-shadow: none !important;
    border: none !important;
    background: #fff !important;
  }
}